<div class="content">
  <div class="header" id="header">
    <div class="nav">
      <label></label>
      <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i>
          Home</button>
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i
            class="fa fa-cog"></i> Services</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i>
          LOGIN</button>
        <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i
            class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <h1>ELearning Management System</h1>
        <h4>Developed by - Bit by Bit</h4><br><br>
      </div><br>
    </div>
  </div>
  <br>
</div>
<br><br>
<!-- <marquee class="marquee" direction="left">🔔 Stay Home !!! Stay Safe !!! Lets Fight together against COVID-19. This Elearning Management system is designed by Gowthamraj K. If Already our Customer, please Login to see your Current Learning Status 😀 </marquee> -->
<div class="container mx-auto p-2">
  <section id="about" class="about about-bg container">
    <div class="about-container">
      <div class="subtext1" id="subtext1">
        &nbsp;User Friendly Learning Portal
        
      </div>
      <div class="innertext1" id="innertext1">
        This Portal facilitates you for an user-friendly
        experience with all the learning contents and resources to improve your skills. You can also download the course related materials
        from our portal which can make your learning process much easier.
      </div>
    </div>
    <div class="about-container">
      <div class="subtext1" id="subtext2">
        &nbsp;Three Different Modes 
      </div>
      <div class="innertext1" id="innertext2">
        This elearning Portal has three different modes of working as 
        ADMIN, PROFESSOR & USER.
        Each of them can access their respective features and perform their task accordingly. (by default, the ADMIN will be 
      </div>
    </div>
    <div class="about-container">
      <div class="subtext1" id="subtext3">
        &nbsp;Specific Learning Contents
        
      </div>
      <div class="innertext1" id="innertext3">
        Separate Learning contents have been included for both 
        video based lectures and 
        website based lectures.
        The 
        ADMIN or 
        PROFESSOR can specify the course type
        while adding a new course.
      </div>
    </div>
    <div class="about-container">
      <div class="subtext1" id="subtext4">
        &nbsp;Plug-In Play Embedded video lectures
      </div>
      <div class="innertext1" id="innertext4">
        Video based lectures
        are also divided into 
        chapters as per the instructors and
        users are facilitated to learn as an embedded video lecture in our 
        custom video player. You can also 
       take notes, download resources, ask queries
        and give feedback about the course.
      </div>
    </div><br>
  </section>
</div>

<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: Raleway;">User friendly portal for Learning</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(20, 72, 149); margin-right: 5%;">
            <h2 style="font-family: Raleway; font-size: 30px; margin-top: 5%; color: white;"> Admin </h2>
            <div class="circle" style="border-radius: 40%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/admin.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color:rgb(20, 72, 149); margin-right: 5%;">
            <h2 style="font-family: Raleway; font-size: 30px; margin-top: 5%; color: white;"> Professor </h2>
            <div class="circle" style="border-radius: 40%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/teacher.png'" width="130" height="130">
            </div>
        </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(20, 72, 149); margin-right: 5%;">
            <h2 style="font-family: Raleway; font-size: 30px; margin-top: 5%; color: white;"> User </h2>
            <div class="circle" style="border-radius: 40%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/user.png'" width="130" height="130">
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>