<app-header></app-header>

<div class="heading-text"><b>Professor List</b></div>
<div class="row">
        <div *ngFor="let professor of professorlist | async" class="col-4 card" id="bloodCards">
         <div class="img-block">
            <div class="circle">
                <img *ngIf="professor.gender === 'Male' || professor.gender === 'male'"  class="bloodimg" [src]="'assets/img/maleprofessor.png'" width="120" height="120">
                <img *ngIf="professor.gender === 'Female' || professor.gender === 'female'"  class="bloodimg" [src]="'assets/img/femaleprofessor.png'" width="120" height="120">
            </div>
        </div>
        <div class="card-block">
            <div class="text"><b style="color: rgb(0, 0, 0)">Professor ID : </b><b style="color: rgb(0, 0, 0);"><small class="date-cover">{{professor.professorid}}</small></b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Professor Name : </b><b style="color: rgb(0, 0, 0);"> {{professor.professorname}} </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Degree Completed : </b><b style="color: rgb(0, 0, 0);"> {{professor.degreecompleted}} </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Email : </b><b style="color: rgb(0, 0, 0);"> {{professor.email}} </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Institution Name : </b><b style="color: rgb(0, 0, 0);"> {{professor.institutionname}} </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Department : </b><b style="color: rgb(0, 0, 0);"> {{professor.department}} </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Experience: </b><b style="color: rgb(0, 0, 0);"> {{professor.experience}} years </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Gender : </b><b style="color: rgb(0, 0, 0);"> {{professor.gender}} </b></div>
            <div class="text"><b style="color: rgb(0, 0, 0)">Mobile : </b><b style="color: rgb(0, 0, 0);"> {{professor.mobile}} </b></div>
            <div *ngIf="professor.status === 'accept'">
                <div class="status-btn">Approved Professor</div>
            </div>
            <div *ngIf="professor.status === 'reject'" >
                <div class="status-btn2">Rejected</div>
            </div>
            <div *ngIf="professor.status === 'false'" >
                <div class="status-btn1">Approval Pending</div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<app-footer></app-footer>