<router-outlet></router-outlet>
<!-- <app-addcourse></app-addcourse> -->
<!-- <app-addchapter></app-addchapter> -->
<!-- <app-addprofessor></app-addprofessor> -->
<!-- <app-admindashboard></app-admindashboard> -->
<!-- <app-approvalstatus></app-approvalstatus> -->
<!-- <app-courselist></app-courselist> -->
<!-- <app-fullcourse></app-fullcourse> -->
<!-- <app-mycourses></app-mycourses> -->
<!-- <app-mywishlist></app-mywishlist> -->
<!-- <app-professordashboard></app-professordashboard> -->
<!-- <app-professorlist></app-professorlist> -->
<!-- <app-professorprofile></app-professorprofile> -->
<!-- <app-registrationsuccess></app-registrationsuccess> -->
<!-- <app-userdashboard></app-userdashboard> -->
<!-- <app-userlist></app-userlist> -->
<!-- <app-userprofile></app-userprofile> -->